body{
	font-family: Arial;
    background: #cecccc;
    margin:0;
    padding: 0;
}

.header-pagina{
	margin-bottom: 30px;
	background: white;
	border-color: #c8cccc;
	overflow: hidden;
	margin-bottom: 30px;
}

.header-pagina > div{
	width: 550px;
	margin: auto;
}

.container{
	width: 550px;
	margin:auto;
}

article{
	border: 1px solid #c5caca;
	background: white;
	margin-bottom: 15px;
	border-radius: 5px;
}

article > header{
	padding:0px 10px;
}

.title{
	overflow: hidden;
}
.titulo h2{
	font-size: 16px;
}

.title > div {
	width: 50%;
	float:left;
}

.fecha{
	text-align: right;
	color: #adaeb0;
}

.foto{
	border-bottom: 1px solid #c4c7c7;
    border-top: 1px solid #eeefef;
}

.comentario{
	padding:0px 24px;
	font-size: 14px;
}

img{
	max-width: 548px;
}
